{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load modal_tags %}
{% block app %}
<section class="bg-neutral-800 border-1 border-neutral-700 m-2 p-2 rounded-lg shadow">
    <h1 class="text-2xl font-semibold mb-5">Templates</h1>
    {% if perms.pdaAdmin.templates_create %}
        {% modal id="create-template" title="Create Zone Template" size="md" %}
            {% modaltrigger %}
                <button @click="open = true" class="btn btn-primary my-3">
                    <i class="fa fa-plus"></i>
                </button>
            {% endmodaltrigger %}
                <form method="post" class="pda-form">
                    {% csrf_token %}
                    <div class="pda-input-group">
                        {{ zone_template_form.name.label_tag }}
                        {{ zone_template_form.name }}
                        {{ zone_template_form.name.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ zone_template_form.kind.label_tag }}
                        {{ zone_template_form.kind }}
                        {{ zone_template_form.kind.errors }}
                    </div>

                    <div class="pda-input-group">
                        {{ zone_template_form.nameservers.label_tag }}
                        {{ zone_template_form.nameservers }}
                        {{ zone_template_form.nameservers.errors }}
                    </div>

                    <input class="btn btn-primary w-100" type="submit" value="{% translate 'Save' %}">
                </form>
            {% modalfooter %}
                <button @click="open = false" class="btn btn-secondary">Close</button>
            {% endmodalfooter %}
        {% endmodal %}
    {% endif %}

  <table class="pda-table w-full hidden md:table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
        <tr>
            <td><a class="text-white" href="/admin/templates/{{ template.id }}">{{ template.name }}</a></td>
            <td>{{ template.kind }}</td>
            <td class="flex flex-row gap-2">
                {% if perms.pdaAdmin.templates_edit %}
                <a href="/admin/templates/{{ template.id }}" class="btn btn-warning py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                </a>
                {% endif %}

                {% if perms.pdaAdmin.templates_delete %}
                    {% modal id="delete-template" title="Delete Template" size="md" %}
                        {% modaltrigger %}
                            <button @click="open = true" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        {% endmodaltrigger %}
                            <form class="pda-form" action="{% url 'pdaAdmin:delete_template' template.id %}" method="post">
                                {% csrf_token %}
                                <input id="name" name="name" type="hidden" value="{{ template.name }}">
                                <p class="text-white text-xl">You are about to delete the template
                                    <br/><span class="text-xl text-danger bg-neutral-900 p-2 rounded-lg">
                                    {{ template.name }}</span>
                                    are you sure you want to delete the template?</p>
                                <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                            </form>
                        {% modalfooter %}
                            <button @click="open = false" class="btn btn-secondary">Close</button>
                        {% endmodalfooter %}
                    {% endmodal %}

                {% endif %}

            </td>
        </tr>
        {% endfor %}
      </tbody>
      <div class="md:hidden flex flex-row flex-wrap gap-4">
        {% for template in templates %}

        <div class="bg-neutral-900 border-1 border-neutral-700 p-4 rounded-md flex flex-col w-full md:w-1/4">
            <a class="text-white" href="/admin/templates/{{ template.id }}">{{ template.name }}</a>
            <p>Kind: {{ template.kind }}</p>

            <div class="flex flex-row gap-2">
                {% if perms.pdaAdmin.templates_edit %}
                <a href="/admin/templates/{{ template.id }}" class="btn btn-warning py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                </a>
                {% endif %}

                {% if perms.pdaAdmin.templates_delete %}
                    {% modal id="delete-template" title="Delete Template" size="md" %}
                        {% modaltrigger %}
                            <button @click="open = true" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        {% endmodaltrigger %}
                            <form class="pda-form" action="{% url 'pdaAdmin:delete_template' template.id %}" method="post">
                                {% csrf_token %}
                                <input id="name" name="name" type="hidden" value="{{ template.name }}">
                                <p class="text-white text-xl">You are about to delete the template
                                    <br/><span class="text-xl text-danger bg-neutral-900 p-2 rounded-lg">
                                    {{ template.name }}</span>
                                    are you sure you want to delete the template?</p>
                                <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                            </form>
                        {% modalfooter %}
                            <button @click="open = false" class="btn btn-secondary">Close</button>
                        {% endmodalfooter %}
                    {% endmodal %}

                {% endif %}
            </div>
        </div>
        {% endfor %}

      </div>
  </table>
</section>
{% endblock %}
