{% extends "web/base.html" %}
{% load static %}
{# remove top nav and messages and reinsert into body #}
{% block top_nav %}{% endblock %}
{% block messages %}{% endblock %}
{% block body %}
{% block notifications %}
{% endblock %}
{% block sidebar-nav %}
  {% include "web/components/sidenav.html" %}
{% endblock %}
<main class="ml-64 relative rounded-lg">
{% include "web/components/top_nav_app.html" %}
  <div class="w-full px-8 py-4 pt-28">
    {% block app %}
    {% endblock %}
  </div>
</main>
{% endblock %}
