{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="bg-neutral-800 m-2 p-2 rounded-lg shadow">
    <h1 class="text-2xl font-semibold mb-5">Templates</h1>
    {% if perms.api_dns.add_zone %}
        <div x-data="{ open: false }">
            <!-- Button -->
            <button
                    @click="open = true"
                    class="btn btn-primary my-3">
                <i class="fa fa-plus"></i>
            </button>
            <!-- Backdrop -->
            <div
                    x-show="open"
                    x-transition.opacity
                    @click="open = false"
                    class="fixed inset-0 bg-black/50">
            </div>
            <!-- Modal -->
            <div
                    x-show="open"
                    x-transition
                    class="fixed inset-0 flex items-center justify-center p-4"
                    @keydown.escape.window="open = false">
                <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                     @click.stop>
                    <h2>Create Zone Template</h2>
                    <form method="post" class="pda-form">
                        {% csrf_token %}

                        <div class="pda-input-group">
                            {{ zone_template_form.name.label_tag }}
                            {{ zone_template_form.name }}
                            {{ zone_template_form.name.errors }}
                        </div>
                        <div class="pda-input-group">
                            {{ zone_template_form.kind.label_tag }}
                            {{ zone_template_form.kind }}
                            {{ zone_template_form.kind.errors }}
                        </div>

                        <div class="pda-input-group">
                            {{ zone_template_form.nameservers.label_tag }}
                            {{ zone_template_form.nameservers }}
                            {{ zone_template_form.nameservers.errors }}
                        </div>

                        <input class="btn btn-info w-100" type="submit" value="{% translate 'Save' %}">
                    </form>
                    <button
                            @click="open = false"
                            class="px-4 py-2 bg-neutral-700 text-white rounded">
                        Close
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

  <table class="pda-table w-full">
      <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
        <tr>
            <td><a class="text-white" href="/admin/templates/{{ template.id }}">{{ template.name }}</a></td>
            <td>{{ template.kind }}</td>
            <td class="flex flex-row gap-2">
                {% if perms.api_dns.change_zone %}
                <a href="/admin/templates/{{ template.id }}" class="btn btn-warning py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                </a>
                {% endif %}
                {% if perms.api_dns.delete_zone %}
                <button class="btn btn-danger py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-trash-o"></i></span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
{% endblock %}
