{% extends "web/base.html" %}
{% load static %}
{% block body %}
  <header class="header-2">
  <div class="page-header min-vh-50 relative" style="background-image: url('https://cappediem.fi/img/bg2.jpg')">
    <span class="mask bg-gray-900 opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">{{project_meta.NAME}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
