{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}

{% block app %}
<section class="">
    <h1 class="pg-title">Account</h1>
    <a class="bg-info px-2 py-2 my-2 rounded-3 text-white" href="/admin/accounts/"><span class="pg-icon"><i class="fa fa-arrow-left"></i></span> Back </a>
    <div class="d-flex flex-row gap-4 justify-content-center my-4">
        {% if perms.pda.admin_accounts_edit %}
        <div class="pg-column-one-third card bg-gray-800 p-4 m-2">
            <form class="pda-form" method="post">
                {% csrf_token %}
                <div class="pda-input-group">
                    {{ account_edit_form.name.label_tag }}
                    {{ account_edit_form.name }}
                    {{ account_edit_form.name.errors }}
                </div>

                <div class="pda-input-group">
                    {{ account_edit_form.mail.label_tag }}
                    {{ account_edit_form.mail }}
                    {{ account_edit_form.mail.errors }}
                </div>

                <div class="pda-input-group">
                    {{ account_edit_form.contact.label_tag }}
                    {{ account_edit_form.contact }}
                    {{ account_edit_form.contact.errors }}
                </div>

                <div class="pda-input-group">
                    {{ account_edit_form.description.label_tag }}
                    {{ account_edit_form.description }}
                    {{ account_edit_form.description.errors }}
                </div>
                <div class="pda-input-group">
                    {{ account_edit_form.owner.label_tag }}
                    {{ account_edit_form.owner }}
                    {{ account_edit_form.owner.errors }}
                </div>
               <div class="pda-input-group">
                    {{ account_edit_form.members.label_tag }}
                    {{ account_edit_form.members }}
                    {{ account_edit_form.members.errors }}
                </div>
                <input class="btn btn-info w-100" type="submit" value="{% translate "Save" %}">
            </form>
        </div>
        {% endif %}
        <div class="pg-column-one-quarter card bg-gray-800 p-4 m-2">
            <h3 class="pg-title">Zones</h3>
            <div class="mt-4">
                <div class="d-flex flex-row flex-wrap">
                    {% for zone in zones %}
                    <a class="btn btn-secondary  px-4 py-2 m-2 rounded-3" href="/dns/domain/{{ zone.name }}">{{ zone.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pg-column-one-quarter card bg-gray-800 p-4 m-2">
            <h3 class="pg-title">Members</h3>
            <div class="mt-4">
                <div class="d-flex flex-row flex-wrap">
                    {% for member in members %}
                        <a class="btn btn-secondary  px-4 py-2 m-2 rounded-3" href="">{{ member }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
