{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="">
    <h1 class="text-2xl font-semibold mb-5">Dashboard</h1>
    <div class="flex flex-row gap-4 mb-4">
        {% if request.user.is_superuser %}
        <div x-data="{ open: false }">
            <!-- Button -->
            <button
                    @click="open = true"
                    class="btn btn-danger">
                Clear Cache <i class="fa fa-trash-o"></i>
            </button>
            <!-- Backdrop -->
            <div
                    x-show="open"
                    x-transition.opacity
                    @click="open = false"
                    class="fixed inset-0 bg-black/50">
            </div>
            <!-- Modal -->
            <div
                    x-show="open"
                    x-transition
                    class="fixed inset-0 flex items-center justify-center p-4"
                    @keydown.escape.window="open = false">
                <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                     @click.stop>
                    <h2>CLEAR CACHE</h2>
                    <form class="pda-form" action="{% url 'pdaAdmin:clear_cache' %}" method="post">
                        {% csrf_token %}
                        <p class="text-white text-xl bg-danger p-2 rounded-3">You are about to clear the entire zone and record cache are you sure you want to do this?</p>
                        <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                    </form>
                    <button
                            @click="open = false"
                            class="btn btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user.is_staff %}
            <a href="/djadmin" class="btn btn-danger py-1 px-2">
                Django Admin
            </a>
        {% endif %}

        <div x-data="{ open: false }">
            <!-- Button -->
            <button
                    @click="open = true"
                    class="btn btn-primary">
                Create Zone <i class="fa fa-plus"></i>
            </button>
            <!-- Backdrop -->
            <div
                    x-show="open"
                    x-transition.opacity
                    @click="open = false"
                    class="fixed inset-0 bg-black/50">
            </div>
            <!-- Modal -->
            <div
                    x-show="open"
                    x-transition
                    class="fixed inset-0 flex items-center justify-center p-4"
                    @keydown.escape.window="open = false">
                <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                     @click.stop>
                    <h2>Create Zone</h2>
                    <form class="pda-form" action="{% url 'pdaAdmin:zones' %}" method="post">
                        {% csrf_token %}

                        <div class="pda-input-group">
                            <label class="text-white" for="{{ new_zone_form.name.id_for_label }}">Name</label>
                            {{ new_zone_form.name }}
                            {{ new_zone_form.name.errors }}
                        </div>

                        <div class="pda-input-group">
                            <label class="text-white" for="{{ new_zone_form.account.id_for_label }}">Account</label>
                            {{ new_zone_form.account }}
                            {{ new_zone_form.account.errors }}
                        </div>

                        <div class="pda-input-group">
                            <label class="text-white" for="{{ new_zone_form.dnssec.id_for_label }}">DNSSEC</label>
                            {{ new_zone_form.dnssec }}
                        </div>

                        <input class="btn btn-primary w-100" type="submit" value="{% translate 'Save' %}">
                    </form>
                    <button
                            @click="open = false"
                            class="btn btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </div>
    {% if perms.pda.admin_accounts_create %}
        <div x-data="{ open: false }">
            <!-- Button -->
            <button
                    @click="open = true"
                    class="btn btn-danger">
                Create Account <i class="fa fa-plus"></i>
            </button>
            <!-- Backdrop -->
            <div
                    x-show="open"
                    x-transition.opacity
                    @click="open = false"
                    class="fixed inset-0 bg-black/50">
            </div>
            <!-- Modal -->
            <div
                    x-show="open"
                    x-transition
                    class="fixed inset-0 flex items-center justify-center p-4"
                    @keydown.escape.window="open = false">
                <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                     @click.stop>
                    <h2>Account Creation</h2>
                    <form class="pda-form" action="{% url 'pdaAdmin:accounts' %}" method="post">
                        {% csrf_token %}

                        {% csrf_token %}
                        <div class="pda-input-group">
                            {{ account_create_form.name.label_tag }}
                            {{ account_create_form.name }}
                            {{ account_create_form.name.errors }}
                        </div>

                        <div class="pda-input-group">
                            {{ account_create_form.mail.label_tag }}
                            {{ account_create_form.mail }}
                            {{ account_create_form.mail.errors }}
                        </div>

                        <div class="pda-input-group">
                            {{ account_create_form.contact.label_tag }}
                            {{ account_create_form.contact }}
                            {{ account_create_form.contact.errors }}
                        </div>

                        <div class="pda-input-group">
                            {{ account_create_form.description.label_tag }}
                            {{ account_create_form.description }}
                            {{ account_create_form.description.errors }}
                        </div>
                        <input class="btn btn-primary w-100" type="submit" value="{% translate 'Create' %}">
                    </form>
                    <button
                            @click="open = false"
                            class="btn btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="flex flex-row">
        <div class="bg-neutral-800 m-2 p-2 w-4/6 rounded-lg shadow">
            <h2 class="pg-title">Activity</h2>
            <table class="pda-table w-full">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Action</th>
                        <th>Info</th>
                        <th>user</th>
                        <th>Api Key Used</th>
                        <th></th>
                    </tr>
                </thead>
                {% for activity in page_obj %}
                <tbody x-data="{ detailsOpen: false }">
                    <tr>
                        <td>{{ activity.timestamp }}</td>
                        <td>{{ activity.action }}</td>
                        <td>{{ activity.info }}</td>
                        <td>{{ activity.user }}</td>
                        <td>{% if activity.apikey != '' %}{{ activity.apikey }}{% else %}None{% endif %}</td>
                            {% if perms.pdaAdmin.activity_log_details %}
                                <td>
                                    <button class="btn btn-warning" @click="detailsOpen= !detailsOpen">
                                        <span class="flex flex-row items-center gap-2">
                                            Details
                                            <i x-show="!detailsOpen" class="fa fa-chevron-right"></i>
                                            <i x-show="detailsOpen" class="fa fa-chevron-down"></i>
                                        </span>
                                    </button>
                                </td>
                            {% endif %}
                    </tr>
                    <tr x-show="detailsOpen" x-transition>
                        <td colspan="6">
                            <div class="text-left p-4 bg-neutral-900 shadow-md rounded-lg">
                                {{ activity.details|linebreaksbr }}
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <nav aria-label="Page navigation">
                <ul class="flex flex-row mt-3 gap-2">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="py-1 px-2 rounded-full bg-neutral-700 text-white" href="?page={{ page_obj.previous_page_number }}"><span class="pg-icon"><i class="fa fa-chevron-left"></i></span></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="py-1 px-2 rounded-full bg-neutral-700 text-white"><span class="pg-icon"><i class="fa fa-chevron-left"></i></span></span></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="py-1 px-2 rounded-full bg-sky-700 text-white">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="py-1 px-2 rounded-full bg-neutral-700 text-white" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="py-1 px-2 rounded-full bg-neutral-700 text-white" href="?page={{ page_obj.next_page_number }}"><span class="pg-icon"><i class="fa fa-chevron-right"></i></span></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="py-1 px-2 rounded-full bg-neutral-700 text-white"><span class="pg-icon"><i class="fa fa-chevron-right"></i></span></span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class="pg-column-one-third card bg-neutral-800 m-2 p-2 w-2/6 rounded-lg shadow">
            <h2 class="pg-title">Statistics</h2>

        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.min.js" integrity="sha512-n/G+dROKbKL3GVngGWmWfwK0yPctjZQM752diVYnXZtD/48agpUKLIn0xDQL9ydZ91x6BiOmTIFwWjjFi2kEFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
