{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="bg-neutral-800 m-2 p-2 rounded-lg shadow">
    <h1 class="text-2xl font-semibold mb-5">Groups</h1>
    <div x-data="{ open: false }">
        <!-- Button -->
        <button @click="open = true" class="btn btn-primary mb-4">
            <i class="fa fa-plus"></i>
        </button>
        <!-- Backdrop -->
        <div x-show="open"
             x-transition.opacity
             @click="open = false"
             class="fixed inset-0 bg-black/50">
        </div>
        <!-- Modal -->
        <div x-show="open"
             x-transition
             class="fixed inset-0 flex items-center justify-center p-4"
             @keydown.escape.window="open = false">
            <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                 @click.stop>
                <h2>Create Group</h2>
                <form class="pda-form" method="post">
                    {% csrf_token %}
                    <div class="pda-input-group">
                        {{ group_form.name.label_tag }}
                        {{ group_form.name }}
                        {{ group_form.name.errors }}
                    </div>

                    <input class="btn btn-primary" type="submit" value="{% translate 'Create' %}">
                </form>
                <button @click="open = false" class="btn btn-secondary">
                    Close
                </button>
            </div>
        </div>
    </div>
    <table class="pda-table w-1/3">
      <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
            <td><a class="text-white" href="/admin/groups/{{ group.id }}">{{ group.name }}</a></td>
            <td class="flex flex-row items-center gap-2">
                {% if perms.pdaAdmin.group_delete %}
                <div x-data="{ open: false }">
                    <!-- Button -->
                    <button
                        @click="open = true"
                        class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>

                    <!-- Backdrop -->
                    <div
                        x-show="open"
                        x-transition.opacity
                        @click="open = false"
                        class="fixed inset-0 bg-black/50">
                    </div>

                    <!-- Modal -->
                    <div
                        x-show="open"
                        x-transition
                        class="fixed inset-0 flex items-center justify-center p-4"
                        @keydown.escape.window="open = false">

                        <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                             @click.stop>

                            <h2>Delete Group</h2>
                            <form class="pda-form" action="{% url 'pdaAdmin:delete_group' group.id %}" method="post">
                                {% csrf_token %}
                                <input id="name" name="name" type="hidden" value="{{ group.name }}">
                                <p class="text-white text-xl">You are about to delete the group
                                    <br/><span class="text-xl text-danger bg-neutral-900 p-2 rounded-lg">
                                    {{ group.name }}</span>
                                    are you sure you want to delete the group?</p>
                                <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                            </form>

                            <button
                                @click="open = false"
                                class="btn btn-secondary">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                <a class="btn btn-warning" href="/admin/groups/{{ group.id }}"><i class="fa fa-pencil-square"></i></a>
            </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</section>
{% endblock %}
