{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
    <h1 class="pg-title">Groups</h1>
    <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#groupCreateModal">
        <span class="pg-icon"><i class="fa fa-plus"></i></span>
    </button>
    <div class="modal fade" id="groupCreateModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content bg-gray-800">

          <div class="modal-header">
            <h5 class="modal-title">Group Creation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form class="pda-form" method="post">
                {% csrf_token %}
                <div class="pda-input-group">
                    {{ group_form.name.label_tag }}
                    {{ group_form.name }}
                    {{ group_form.name.errors }}
                </div>

                <input class="btn btn-info w-100" type="submit" value="{% translate 'Create' %}">
            </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <table class="pda-table w-40">
      <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
            <td><a class="text-white" href="/admin/groups/{{ group.id }}">{{ group.name }}</a></td>
            <td>
                <span class="pg-icon bg-danger p-3 rounded-3 text-white"><i class="fa fa-trash-o"></i></span>
                <a href="/admin/groups/{{ group.id }}"><span class="pg-icon bg-warning p-3 rounded-3 text-white"><i class="fa fa-pencil-square"></i></span></a>
            </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</section>
{% endblock %}
