{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
    <h1 class="pg-title">Settings</h1>
    <div class="pg-columns">
        <div class="pg-column-one-third">
            <h2 class="pg-title">Settings 1</h2>
            {% for setting in settings %}
                <p class="text-white">{{ setting.name }}: {{ setting.value }}</p>
            {% endfor %}
        </div>
        <div class="pg-column-one-third">
            <h2 class="pg-title">LDAP</h2>
            <form method="post" class="pda-form">
                {% csrf_token %}
                    <div class="pda-input-group">
                        <label for="ldap_server_uri">ldap_server_uri</label>
                        <input type="text" class="form-control" name="ldap_server_uri" id="ldap_server_uri" value="{{ ldap_settings.ldap_server_uri }}">
                    </div>
                    <div class="pda-input-group">
                        <label for="ldap_bind_on">ldap_bind_on</label>
                        <input type="text" class="form-control" name="ldap_bind_on" id="ldap_bind_on" value="{{ ldap_settings.ldap_bind_on }}">
                    </div>
                    <div class="pda-input-group">
                        <label for="ldap_bind_password">ldap_bind_password</label>
                        <input type="password" class="form-control" name="ldap_bind_password" id="ldap_bind_password" value="{{ ldap_settings.ldap_bind_password }}">
                    </div>
                    <div class="pda-input-group">
                        <label for="ldap_user_search_base">ldap_user_search_base</label>
                        <input type="text" class="form-control" name="ldap_user_search_base" id="ldap_user_search_base" value="{{ ldap_settings.ldap_user_search_base }}">
                    </div>
                    <div class="pda-input-group">
                        <label for="ldap_user_search_filter">ldap_user_search_filter</label>
                        <textarea class="form-control" name="ldap_user_search_filter" id="ldap_user_search_filter" rows="5">{{ ldap_settings.ldap_user_search_filter }}</textarea>
                    </div>
                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
        <div class="pg-column-one-third">
            <h2 class="pg-title">Settings 3</h2>

        </div>
    </div>
</section>
{% endblock %}
a