{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
    <h1 class="pg-title">Settings</h1>
    <div class="pg-columns">
        <div class="pg-column-one-third">
            <h2 class="pg-title">Settings 1</h2>
        </div>
        <div class="pg-column-one-third">
            <h2 class="pg-title">Settings 2</h2>

        </div>
        <div class="pg-column-one-third">
            <h2 class="pg-title">Settings 3</h2>

        </div>
    </div>
</section>
{% endblock %}
