{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="">
    <h1 class="pg-title mb-5">Dashboard</h1>
    <div class="pg-columns">
        <div class="pg-column card bg-gray-800 m-2 p-2">
            <h2 class="pg-title">Activity</h2>
            <table class="table text-white text-center">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Action</th>
                        <th>Details</th>
                        <th>user</th>
                        <th>Api Used</th>
                        <th>Api Key Used</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activity_logs %}
                    <tr>
                        <td>{{ activity.timestamp }}</td>
                        <td>{{ activity.action }}</td>
                        <td>{{ activity.details }}</td>
                        <td>{{ activity.user }}</td>
                        <td>{{ activity.api }}</td>
                        <td>{% if activity.apikey != '' %}{{ activity.apikey }}{% else %}None{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pg-column-one-third card bg-gray-800 m-2 p-2">
            <h2 class="pg-title">Statistics</h2>

        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.min.js" integrity="sha512-n/G+dROKbKL3GVngGWmWfwK0yPctjZQM752diVYnXZtD/48agpUKLIn0xDQL9ydZ91x6BiOmTIFwWjjFi2kEFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
