{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="bg-neutral-800 m-2 p-2 rounded-lg shadow">
    <h1 class="text-2xl font-semibold mb-5">Users</h1>
    <div x-data="{ open: false }">
        <!-- Button -->
        <button @click="open = true" class="btn btn-primary mb-4">
            <i class="fa fa-plus"></i>
        </button>
        <!-- Backdrop -->
        <div x-show="open"
             x-transition.opacity
             @click="open = false"
             class="fixed inset-0 bg-black/50">
        </div>
        <!-- Modal -->
        <div x-show="open"
             x-transition
             class="fixed inset-0 flex items-center justify-center p-4"
             @keydown.escape.window="open = false">
            <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                 @click.stop>
                <h2>Create User</h2>
                <form class="pda-form" method="post">
                    {% csrf_token %}
                    <div class="pda-input-group">
                        {{ user_form.username.label_tag }}
                        {{ user_form.username }}
                        {{ user_form.username.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ user_form.email.label_tag }}
                        {{ user_form.email }}
                        {{ user_form.email.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                        {{ user_form.first_name.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                        {{ user_form.last_name.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ user_form.is_superuser.label_tag }}
                        {{ user_form.is_superuser }}
                        {{ user_form.is_superuser.errors }}
                    </div>
                    <div class="pda-input-group">
                        {{ user_form.is_active.label_tag }}
                        {{ user_form.is_active }}
                        {{ user_form.is_active.errors }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="{% translate 'Create' %}">
                </form>
                <button @click="open = false" class="btn btn-secondary">
                    Close
                </button>
            </div>
        </div>
    </div>
    <table class="pda-table w-full">
      <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Superuser Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
            <td><a class="text-white" href="/admin/users/{{ user.id }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>
                <span class="btn btn-danger"><i class="fa fa-trash-o"></i></span>
                <a class="btn btn-warning" href="/admin/users/{{ user.id }}"><i class="fa fa-pencil-square"></i></a>
            </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</section>
{% endblock %}
