{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="bg-neutral-800 m-2 p-2 rounded-lg shadow">
    <h1 class="text-2xl font-semibold mb-5">Zones</h1>
    {% if perms.api_dns.add_zone %}
    <div x-data="{ open: false }">
        <!-- Button -->
        <button
            @click="open = true"
            class="btn btn-primary mb-4">
            <i class="fa fa-plus"></i>
        </button>

        <!-- Backdrop -->
        <div
            x-show="open"
            x-transition.opacity
            @click="open = false"
            class="fixed inset-0 bg-black/50">
        </div>

        <!-- Modal -->
        <div
            x-show="open"
            x-transition
            class="fixed inset-0 flex items-center justify-center p-4"
            @keydown.escape.window="open = false">

            <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                 @click.stop>

                <h2>Create Zone</h2>
                <form class="pda-form" method="post">
                    {% csrf_token %}

                    <div class="pda-input-group">
                        <label class="text-white" for="{{ new_zone_form.name.id_for_label }}">Name</label>
                        {{ new_zone_form.name }}
                        {{ new_zone_form.name.errors }}
                    </div>

                    <div class="pda-input-group">
                        <label class="text-white" for="{{ new_zone_form.account.id_for_label }}">Account</label>
                        {{ new_zone_form.account }}
                        {{ new_zone_form.account.errors }}
                    </div>

                    <div class="pda-input-group">
                        <label class="text-white" for="{{ new_zone_form.dnssec.id_for_label }}">DNSSEC</label>
                        {{ new_zone_form.dnssec }}
                    </div>
                    <div class="pda-input-group">
                        {{ new_zone_form.template.label_tag }}
                        {{ new_zone_form.template }}
                        {{ new_zone_form.template.errors }}
                    </div>
                    <input class="btn btn-primary w-100" type="submit" value="{% translate 'Save' %}">
                </form>

                <button
                    @click="open = false"
                    class="px-4 py-2 bg-neutral-700 text-white rounded">
                    Close
                </button>
            </div>
        </div>
    </div>
    {% endif %}

  <table class="pda-table w-full">
      <thead>
        <tr>
            <th>Name</th>
            <th>DNSSEC</th>
            <th>Type</th>
            <th>Primary</th>
            <th>Account</th>
            <th>Serial</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones %}
        <tr>
            <td><a class="text-white" href="/admin/zones/{{ zone.name }}">{{ zone.name }}</a></td>
            <td>{% if zone.dnssec %}
                <span class="pg-icon bg-success p-3 rounded-3"><i class="fa fa-lock"></i></span>
                {% else %}
                <span class="pg-icon bg-danger p-3 rounded-3"><i class="fa fa-lock"></i></span>
                {% endif %}
            </td>
            <td>{{ zone.kind }}</td>
            <td></td>
            <td>{{ zone.account }}</td>
            <td></td>
            <td class="buttons">
                {% if perms.api_dns.change_zone %}
                <a href="/admin/zones/{{ zone.name }}" class="btn btn-warning py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                </a>
                {% endif %}
                {% if perms.api_dns.delete_zone %}
                <div x-data="{ open: false }">
                    <!-- Button -->
                    <button
                        @click="open = true"
                        class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>

                    <!-- Backdrop -->
                    <div
                        x-show="open"
                        x-transition.opacity
                        @click="open = false"
                        class="fixed inset-0 bg-black/50">
                    </div>

                    <!-- Modal -->
                    <div
                        x-show="open"
                        x-transition
                        class="fixed inset-0 flex items-center justify-center p-4"
                        @keydown.escape.window="open = false">

                        <div class="bg-neutral-800 rounded-lg shadow p-6 w-full max-w-md"
                             @click.stop>

                            <h2>Delete DNS Record</h2>
                            <form class="pda-form" action="{% url 'pdaAdmin:delete_zone' zone.name %}" method="post">
                                {% csrf_token %}
                                <input id="name" name="name" type="hidden" value="{{ zone.name }}">
                                <p class="text-white text-xl">You are about to delete the zone
                                    <br/><span class="text-xl text-danger bg-neutral-900 p-2 rounded-lg">
                                    {{ zone.name }}</span>
                                    are you sure you want to delete the zone?</p>
                                <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                            </form>

                            <button
                                @click="open = false"
                                class="px-4 py-2 bg-neutral-700 text-white rounded">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
{% endblock %}
