{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
    <h1 class="pg-title">Zones</h1>
    {% if perms.pda.admin_zones_create %}
    <button class="btn btn-info p-2" data-bs-toggle="modal" data-bs-target="#zoneCreateModal">
        <span class="pg-icon"><i class="fa fa-plus"></i></span>
    </button>
    <div class="modal fade" id="zoneCreateModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content bg-gray-800">

          <div class="modal-header">
            <h5 class="modal-title">Create Zone</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form class="d-flex flex-column" method="post">
                {% csrf_token %}

                <div class="mb-3 input-group input-group-static">
                    <label class="text-white" for="{{ new_zone_form.name.id_for_label }}">Name</label>
                    {{ new_zone_form.name }}
                    {{ new_zone_form.name.errors }}
                </div>

                <div class="mb-3 input-group input-group-static">
                    <label class="text-white" for="{{ new_zone_form.account.id_for_label }}">Account</label>
                    {{ new_zone_form.account }}
                    {{ new_zone_form.account.errors }}
                </div>

                <div class="mb-3 input-group input-group-static">
                    <label class="text-white" for="{{ new_zone_form.dnssec.id_for_label }}">DNSSEC</label>
                    {{ new_zone_form.dnssec }}
                </div>

                <input class="btn btn-info w-100" type="submit" value="{% translate 'Save' %}">
            </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

  <table class="table text-white text-center">
      <thead>
        <tr>
            <th>Name</th>
            <th>DNSSEC</th>
            <th>Type</th>
            <th>Primary</th>
            <th>Account</th>
            <th>Serial</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones %}
        <tr>
            <td><a class="text-white" href="/admin/zones/{{ zone.name }}">{{ zone.name }}</a></td>
            <td>{% if zone.dnssec %}
                <span class="pg-icon bg-success p-3 rounded-3"><i class="fa fa-lock"></i></span>
                {% else %}
                <span class="pg-icon bg-danger p-3 rounded-3"><i class="fa fa-lock"></i></span>
                {% endif %}
            </td>
            <td>{{ zone.kind }}</td>
            <td></td>
            <td>{{ zone.account }}</td>
            <td></td>
            <td>
                {% if perms.pda.admin_zones_edit %}
                <a href="/admin/zones/{{ zone.name }}" class="btn btn-warning py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                </a>
                {% endif %}
                {% if perms.pda.admin_zones_delete %}
                <button class="btn btn-danger py-1 px-2">
                    <span class="pg-icon"><i class="fa fa-trash-o"></i></span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
{% endblock %}
