{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load form_tags %}
{% block body %}
<div class="h-screen bg-no-repeat bg-cover bg-fixed bg-bottom flex flex-col items-center justify-center gap-4" style="background-image: url('{% static 'images/login.jpg' %}');" loading="lazy">
    <div class="bg-neutral-800 md:rounded-lg p-4 m-16 w-full md:w-2/6 xl:w-1/6 border-1 border-neutral-700">
        <h4 class="text-white text-center text-2xl">{% translate "Password Reset" %}</h4>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class=" text-neutral-300">{% translate "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="pda-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% render_field form.email %}

            <input class="btn btn-primary my-4" type="submit" value="{% translate 'Send Password Reset' %}">
            <p class="text-neutral-400">
                {% blocktranslate %}
                    Please contact us if you have any trouble resetting your password.
                {% endblocktranslate %}
            </p>
        </form>
    </div>
</div>
{% endblock %}
