{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block body %}
<div class="h-screen bg-no-repeat bg-cover bg-fixed bg-bottom flex flex-col items-center justify-center gap-4" style="background-image: url('{% static 'images/login.jpg' %}');" loading="lazy">
    <div class="bg-neutral-800 md:rounded-lg p-4 m-16 w-full md:w-2/6 xl:w-1/6 border-1 border-neutral-700">
        <h4 class="text-white text-center text-2xl">{% if token_fail %}{% translate "Bad Token" %}{% else %}{% translate "Change Password" %}{% endif %}</h4>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div>
                <p>
                    {% blocktranslate %}
                        The password reset link was invalid, possibly because it has already been used.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                    {% endblocktranslate %}
                </p>
            </div>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}" class="pda-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% render_field form.password1 %}
                    {% render_field form.password2 %}
                    <input class="btn btn-primary my-4" type="submit" value="{% translate 'Change Password' %}">
                </form>
            {% else %}
                <p>{% translate 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
