{% load i18n %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

<nav id="appNav" class="bg-neutral-800 text-white w-64 min-h-screen hidden md:flex flex-col space-y-2 fixed scroll-smooth">
    <div class="mb-6 text-lg font-bold m-4">
        {{project_meta.NAME}}
    </div>

    <h6 class="nav-title">{% translate "Domain Management" %}</h6>
    <div class="nav-seperator"></div>
    <a href="{% url 'pdadns:domains' %}"
       class="nav-item {% if active_tab == 'domains' %}bg-neutral-700{% endif %}">
        <i class="fa fa-globe mr-2"></i> {% translate "Domains" %}
    </a>

    <h6 class="nav-title">{% translate "Admin area" %}</h6>
    <div class="nav-seperator"></div>
    <a href="{% url 'pdaAdmin:dashboard' %}"
       class="nav-item {% if active_tab == 'admin_dash' %}bg-neutral-700{% endif %}">
        <i class="fa fa-shield mr-2"></i> {% translate "Dashboard" %}
    </a>
    <a href="{% url 'pdaAdmin:settings' %}"
       class="nav-item {% if active_tab == 'pda_settings' %}bg-neutral-700{% endif %}">
        <i class="fa fa-cog mr-2"></i> {% translate "Settings" %}
    </a>

    <a href="{% url 'pdaAdmin:accounts' %}"
       class="nav-item {% if active_tab == 'pda_accounts' %}bg-neutral-700{% endif %}">
        <i class="fa fa-user mr-2"></i> {% translate "Accounts" %}
    </a>
    <a href="{% url 'pdaAdmin:zones' %}"
       class="nav-item {% if active_tab == 'admin_zones' %}bg-neutral-700{% endif %}">
        <i class="fa fa-globe mr-2"></i> {% translate "Zones" %}
    </a>
    <a href="{% url 'pdaAdmin:templates' %}"
       class="nav-item {% if active_tab == 'templates' %}bg-neutral-700{% endif %}">
        <i class="fa fa-file-code mr-2"></i> {% translate "Templates" %}
    </a>

    <div x-data="{ open: false }" class="flex flex-col">
        <button
            @click="open = !open"
            class="flex justify-between items-center w-full px-4 py-2 text-left text-white hover:bg-neutral-700 rounded"
        >
            <span>User Accounts</span>
            <svg :class="{'rotate-90': open}" class="w-4 h-4 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
        <div x-show="open" x-transition class="ml-4 mt-1 space-y-1">

            <a href="{% url 'pdaAdmin:users' %}"
               class="nav-item {% if active_tab == 'pda_users' %}bg-neutral-700{% endif %}">
                <i class="fa fa-user-group mr-2"></i> {% translate "Users" %}
            </a>

            <a href="{% url 'pdaAdmin:groups' %}"
               class="nav-item {% if active_tab == 'pda_groups' %}bg-neutral-700{% endif %}">
                <i class="fa fa-users mr-2"></i> {% translate "Groups" %}
            </a>
        </div>
    </div>

    <h6 class="nav-title">{% translate "Account pages" %}</h6>
    <div class="nav-seperator"></div>
    <a href="{% url 'users:user_profile' %}"
       class="nav-item {% if active_tab == 'profile' %}bg-neutral-700{% endif %}">
        <i class="fa fa-shield mr-2"></i> {% translate "Profile" %}
    </a>
    {% if user.has_usable_password %}
    <a href="{% url 'account_change_password' %}"
       class="nav-item {% if 'accounts/password/change' in request.path %}bg-neutral-700{% endif %}">
        <i class="fa fa-unlock-alt mr-2"></i> {% translate "Change Password" %}
    </a>
    {% endif %}
    <a href="{% url 'account_logout' %}"
       class="nav-item {% if 'accounts/logout' in request.path %}bg-neutral-700{% endif %}">
        <i class="fa fa-sign-out mr-2"></i> {% translate "Sign out" %}
    </a>


</nav>