<div class="flex flex-row justify-center w-full absolute top-0">
    <nav class="bg-neutral-800 w-full h-16 shadow flex flex-row items-center justify-between px-4">
        <button onclick="toggleAppNav()" class="md:hidden flex text-white hover:bg-neutral-700 p-2 rounded-lg cursor-pointer transition-colors"><i class="fa fa-bars"></i></button>

        <div class="flex flex-row gap-2 justify-end w-full">
            {% if request.user.is_authenticated %}
                <img class="h-16 w-16 p-3 rounded-full" src="{{ user.avatar_url}}">
            {% endif %}
        </div>
    </nav>
</div>

<script>
    let currentlyOpen;
    function toggleAppNav() {
        let appNavElement = document.getElementById(`appNav`)
        if (appNavElement.classList.contains("hidden")) {
            appNavElement.classList.remove("hidden")
            appNavElement.classList.add("flex")

        } else {
            appNavElement.classList.remove("flex")
            appNavElement.classList.add("hidden")

        }
    }

</script>