{% load i18n %}
<div class="flex flex-row justify-center pt-4 w-screen fixed z-index-sticky top-0">
    <nav class="bg-neutral-800 w-6/8 h-16 rounded-lg shadow flex flex-row items-center justify-between px-4">
        <a class="text-white" href="{% url 'web:home' %}">{{project_meta.NAME}}</a>

        <div class="flex flex-row gap-2">
            {% if not request.user.is_authenticated %}
                <a class="btn bg-neutral-600 hover:bg-neutral-500" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                <a href="{% url 'account_signup' %}" class="btn btn-primary" role="button">{% translate "Sign Up" %}</a>
            {% endif %}

        </div>
    </nav>
</div>
