.alert {
    color: #ffffff !important;
}
.record-edit {
    display: none;
}
.record-edit-show {
    display: table-row;
}
.record-hide {
    display: none;
}
.input-group > label {
    color: #FFFFFF;
}
.pda-text-wrap {
    text-wrap: wrap !important;
    text-align: left !important;
    overflow-wrap: break-word;
}
.pda-form select {
    padding: 10px;
}