.alert {
    color: #ffffff !important;
}
.record-edit {
    display: none;
}
.record-edit-show {
    display: table-row;
}
.record-hide {
    display: none;
}
.input-group > label {
    color: #FFFFFF;
}
.pda-text-wrap {
    text-wrap: wrap !important;
    text-align: left !important;
    overflow-wrap: break-word;
}
.pda-form select {
    padding: 10px;
}

.pda-table-wrap {
    /* styles here */
}

/* Base Table */
.pda-table {

}

.pda-table th,
.pda-table td {
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

/* Header */
.pda-table thead th {
    background-color: #212529;
}
.pda-table .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.pda-table .long-content {
    text-align: left !important;
    text-wrap: wrap !important;
    overflow-wrap: break-word;
}
/* Body rows */
.pda-table tbody tr {
    border-color: #dddddd;
    border-top: 2px solid;
}

/*
gray-700 #495057
gray-800 #343a40
gray-900 #212529
*/
/* Main form wrapper */
.pda-form {
    color: #ffffff;
}

/* All text-like inputs */
.pda-form input[type="text"],
.pda-form input[type="email"],
.pda-form input[type="password"],
.pda-form input[type="number"],
.pda-form input[type="url"],
.pda-form input[type="search"],
.pda-form input[type="tel"],
.pda-form input[type="date"],
.pda-form input[type="datetime-local"],
.pda-form input[type="time"],
.pda-form textarea {
    padding: 10px;
    background-color: #495057;
    color: #cccccc;
    border: transparent 1px solid;
}
.pda-form select {
    border: transparent 1px solid;
    background-color: #495057;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.24a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.08z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.4rem;
}
/* Checkboxes */
.pda-form input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    -webkit-appearance: none;
    background-color: #495057;
    cursor: pointer;
    vertical-align: middle;

    margin-right: 6px;
}
.pda-form input[type="checkbox"]:checked {
    background-color: #29a1f4;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'><path d='M7.629 13.314l-4.243-4.243 1.414-1.414 2.829 2.828 5.657-5.657 1.414 1.414-7.071 7.072z'/></svg>");
    background-position: center; /* ensure still centered */
    background-size: 1.2rem 1.2rem;  /* match the checkbox */
}
/* Radios */
.pda-form input[type="radio"] {
}

/* Labels */
.pda-form label {
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0;
}

/* Disabled fields */
.pda-form input:disabled,
.pda-form textarea:disabled,
.pda-form select:disabled {
    background-color: #212529;
    color: #999999;
    cursor: not-allowed;
}

/* Focus state */
.pda-form input:focus,
.pda-form textarea:focus,
.pda-form select:focus {
    border: #ddd 1px solid;
    color: #FFFFFF;
    background-color: #495057;
}
.pda-form .pda-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}