{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="bg-neutral-800 rounded-xl shadow p-6">
  <h1 class="text-xl mb-4">Domains</h1>
  <table class="pda-table hidden md:table md:w-full">
      <thead>
        <tr>
            <th>Name</th>
            <th>DNSSEC</th>
            <th>Type</th>
            <th>Primary</th>
            <th>Account</th>
            <th>Serial</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones %}
        <tr>
            <td><a class="text-white" href="/dns/domain/{{ zone.name }}">{{ zone.name }}</a></td>
            <td>{% if zone.dnssec %}
                <span><i class="fa fa-lock bg-green-600 p-2 rounded-lg"></i></span>
                {% else %}
                <span><i class="fa fa-lock bg-red-600 p-2 rounded-lg"></i></span>
                {% endif %}
            </td>
            <td>{{ zone.kind }}</td>
            <td></td>
            <td>{{ zone.account }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
{% endblock %}
