{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
<div class="h-screen bg-no-repeat bg-cover bg-fixed bg-bottom flex flex-col items-center justify-center gap-4" style="background-image: url('{% static 'images/login.jpg' %}');" loading="lazy">
    <div class="bg-neutral-800 md:rounded-lg p-4 m-16 w-full md:w-2/6 xl:w-1/6 border-1 border-neutral-700">
    {% if process == "connect" %}
      <h2 class="text-white text-2xl mb-2 text-center">{% blocktranslate with provider.name as provider %}Connect {{ provider }}{% endblocktranslate %}</h2>
      <p>{% blocktranslate with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktranslate %}</p>
    {% else %}
      <h2 class="text-white text-2xl mb-2 text-center">{% blocktranslate with provider.name as provider %}Sign In Via {{ provider }}{% endblocktranslate %}</h2>
      <p class="">{% blocktranslate with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktranslate %}</p>
    {% endif %}

    <form method="post" class="mt-2">
      {% csrf_token %}
      <button class="btn btn-primary my-4" type="submit">{% translate "Continue" %}</button>
    </form>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
