{% load i18n %}
<section>
  <h2 class="text-2xl font-semibold mb-2">{% translate "API Keys" %}</h2>
  {% for key in api_keys %}
    {% if forloop.first %}
    <div>
      <table class="pda-table md:table hidden">
        <thead>
        <tr>
          <th>{% translate "Prefix" %}</th>
          <th>{% translate "Name" %}</th>
          <th>{% translate "Created" %}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
      {% endif %}
          <tr>
            <td class="text-white">{{ key.prefix }}</td>
            <td class="text-white">{{ key.name }}</td>
            <td class="text-white">{{ key.created.date }}</td>
            <td class="text-white">
              <form method="post" action="{% url 'users:revoke_api_key' %}">
                {% csrf_token %}
                <input type="hidden" name="key_id" value="{{ key.id }}">
                <div class="pg-inline-buttons">
                  <input type="submit" class="btn btn-danger" value="{% translate "Revoke" %}" />
                </div>
              </form>
            </td>
          </tr>
      {% if forloop.last %}
        </tbody>
      </table>
    </div>
    {% endif %}
  {% empty %}
    <p>{% translate "You haven't created any API keys yet. Create one below." %}</p>
  {% endfor %}
  {% for key in api_keys %}
    {% if forloop.first %}
    <div class="md:hidden flex flex-row flex-wrap gap-4">
      {% endif %}
        <div class="bg-neutral-900 border-1 border-neutral-700 p-4 rounded-md flex flex-col w-full md:w-1/4">
          <p>{% translate "Prefix" %}: {{ key.prefix }}</p>
          <p>{% translate "Name" %}: {{ key.name }}</p>
          <p>{% translate "Created" %}: {{ key.created.date }}</p>
              <form method="post" action="{% url 'users:revoke_api_key' %}">
                {% csrf_token %}
                <input type="hidden" name="key_id" value="{{ key.id }}">
                <div class="pg-inline-buttons">
                  <input type="submit" class="btn btn-danger mt-4" value="{% translate "Revoke" %}" />
                </div>
              </form>
        </div>
      {% if forloop.last %}
    </div>
    {% endif %}
  {% endfor %}


  <form class="pda-form" method="post" action="{% url 'users:create_api_key' %}">
    {% csrf_token %}
    <div class="pda-input-group">
        <label class="text-white" for="name">Api Key Name</label>
        <input id="name" name="name" class="form-control" type="text" required>
    </div>
    <div>
      <input type="submit" class="btn btn-primary" value="{% translate "New API Key" %}" />
    </div>
  </form>
</section>
