{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load pda_tags %}
{% load modal_tags %}
{% block app %}
<section class="bg-neutral-800 border-1 border-neutral-700 m-2 p-2 rounded-lg shadow">
  <h1 class="text-2xl font-semibold mb-5">Zones</h1>
    <div class="flex flex-row gap-4">
        {% if perms.pdaAdmin.zones_edit %}
        <div class="w-1/3">
            <form class="pda-form" method="post">
                {% csrf_token %}
                <div class="pda-input-group">
                    <label class="text-white" for="name">Name</label>
                    <input id="name" name="name" class="form-control" type="text" value="{{ zone.name }}" disabled >
                </div>

                <div class="pda-input-group">
                    <label class="text-white" for="account">Account</label>
                    <select id="account" name="account" class="form-control">
                        {% for account in accounts %}
                            <option value="{{ account.id }}" {% if account.id == zone.account.id %}selected{% endif %}>{{ account.name }}</option>
                        {% endfor %}
                            <option value="" {% if zone.account == None %}selected{% endif %}>None</option>

                    </select>
                </div>
                <div class="pda-input-group">
                    <label class="text-white" for="name">DNSSEC</label>
                    <input disabled id="name" name="name" class="form-control" type="text" value="{{ zone.dnssec }}" >
                </div>
                <button class="btn btn-primary w-100" type="submit" name="form_type" value="zone">{% translate "Save" %}</button>
            </form>
        </div>
        {% endif %}
        {% if perms.pdaAdmin.records_create %}
            {% modal id="create-zone-record" title="Create DNS Record" size="md" %}
                {% modaltrigger %}
                    <button @click="open = true" class="btn btn-primary mb-4">
                        <i class="fa fa-plus"></i>
                    </button>
                {% endmodaltrigger %}
                    <form class="pda-form" method="post">
                        {% csrf_token %}
                        <input name="formName" type="hidden" value="createForm">
                        <div class="pda-input-group">
                            <label class="text-white" for="name">Name</label>
                            <input id="name" name="name" class="form-control" type="text" value="{{ account.name }}" >
                        </div>
                        <div class="pda-input-group">
                            <label class="text-white" for="record_type">Record Type</label>
                            <select id="record_type" name="record_type" class="form-control">
                                {% for record_type, enabled in setting_record_types.items %}
                                        <option value="{{ record_type }}">{{ record_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="pda-input-group">
                            <label class="text-white" for="content">Content</label>
                            <input id="content" name="content" class="form-control" type="text">
                        </div>
                        <div class="pda-input-group">
                            <label class="text-white" for="ttl">TTL</label>
                            <input id="ttl" name="ttl" class="form-control" type="number" value="3600">
                        </div>
                        <button class="btn btn-primary w-100" type="submit" name="form_type" value="recordCreate">{% translate "Save" %}</button>
                    </form>
                {% modalfooter %}
                    <button @click="open = false" class="btn btn-secondary">Close</button>
                {% endmodalfooter %}
            {% endmodal %}
        {% endif %}
        {% if perms.pdaAdmin.records_view %}
        <div class="w-full">
            <table class="pda-table w-full">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>TTL</th>
                      <th>Data</th>
                      <th>Comments</th>
                      <th></th>
                  </tr>
                </thead>
                {% for record in records %}
                    {% if setting_record_types|dict_get:record.record_type %}
                        <tbody x-data="{ recordEditOpen: false} ">
                            <tr>
                                <td>{{ record.name }}</td>
                                <td>{{ record.record_type }}</td>
                                <td>{% if record.disabled %}Disabled{% else %}Active{% endif %}</td>
                                <td>{{ record.ttl }}</td>
                                <td class="max-width-500 long-content">{{ record.content }}</td>
                                <td>{{ record.comments }}</td>
                                <td class="flex flex-row gap-2">
                                  {% if perms.pdaAdmin.records_edit %}
                                      <button class="btn btn-warning py-1 px-2" @click="recordEditOpen= !recordEditOpen">
                                          <span class="pg-icon"><i class="fa fa-pencil-square"></i></span>
                                      </button>
                                  {% endif %}
                              {% if perms.pdaAdmin.records_delete %}
                                {% modal id="delete-zone-record" title="Delete DNS Record" size="md" %}
                                    {% modaltrigger %}
                                        <button @click="open = true" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    {% endmodaltrigger %}
                                        <form class="pda-form" action="{% url 'pdadns:delete_record' zone.name %}" method="post">
                                            {% csrf_token %}
                                            <input id="name" name="name" type="hidden" value="{{ record.name }}">
                                            <input id="record_type" name="record_type" type="hidden" value="{{ record.record_type }}">
                                            <input id="content" name="content" type="hidden" value="{{ record.content }}">
                                            <p class="text-white text-xl">You are about to delete record
                                                <span class="text-xl text-danger bg-neutral-900 p-2 rounded-3">
                                                {{ record.name }}</span>
                                                <span class="text-xl text-danger bg-neutral-900 p-2 rounded-3">
                                                {{ record.record_type }}</span>
                                                are you sure you want to delete the record?</p>
                                            <input class="btn btn-danger" type="submit" value="{% translate "Delete" %}">
                                        </form>
                                    {% modalfooter %}
                                        <button @click="open = false" class="btn btn-secondary">Close</button>
                                    {% endmodalfooter %}
                                {% endmodal %}
                              {% endif %}

                                </td>
                            </tr>
                            <tr x-show="recordEditOpen" x-transition>
                                <td colspan="7">
                                    <form method="post" class="flex flex-col w-full bg-neutral-900 border-1 border-neutral-700 rounded-md p-4 text-left">
                                        {% csrf_token %}
                                        <input name="formName" type="hidden" value="editForm">
                                        <div class="flex flex-row w-full gap-4">
                                            <div class="flex flex-col">
                                                <label for="name">Name </label>
                                                <input id="old_name" name="old_name" type="hidden" value="{{ record.name }}">
                                                <input class="bg-neutral-800 border-1 border-neutral-700 rounded-md px-4 py-2" id="name" name="name" type="text" value="{{ record.name }}">
                                            </div>
                                            <div class="flex flex-col">
                                                <input id="old_record_type" name="old_record_type" type="hidden" value="{{ record.record_type }}">
                                                <label for="record_type">Type </label>
                                                <select id="record_type" name="record_type" class="bg-neutral-800 border-1 border-neutral-700 rounded-md px-4 py-2">
                                                    {% for record_type, enabled in setting_record_types.items %}
                                                        {% if enabled %}
                                                            <option value="{{ record_type }}" {% if record.record_type == record_type %}selected{% endif %}>{{ record_type }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="flex flex-col">
                                            <label for="content">Content </label>
                                            <input id="old_content" name="old_content" type="hidden" value="{{ record.content }}">
                                            <input class="bg-neutral-800 border-1 border-neutral-700 rounded-md px-4 py-2" id="content" name="content" type="text" value="{{ record.content }}">
                                        </div>
                                        </div>

                                        <div class="flex flex-row gap-4 mt-4">
                                            <div class="flex flex-col">
                                                <label for="ttl">TTL </label>
                                                <input id="old_ttl" name="old_ttl" type="hidden" value="{{ record.ttl }}">
                                                <input class="bg-neutral-800 border-1 border-neutral-700 rounded-md px-4 py-2" id="ttl" name="ttl" type="number" value="{{ record.ttl }}">
                                            </div>
                                            <div class="flex flex-col">
                                                <label for="comments">Comments </label>
                                                <input class="bg-neutral-800 border-1 border-neutral-700 rounded-md px-4 py-2" id="comments" name="comments" type="text" value="{{ record.comments }}">
                                            </div>
                                        </div>

                                        <div class="flex flex-row gap-2 mt-2 pt-2 border-t-1 border-neutral-700">
                                            <button type="submit" class="btn btn-success py-1 px-2" name="form_type" value="recordEdit" @click="recordEditOpen= false">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-warning py-1 px-2" @click="recordEditOpen= false">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
